*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color:#000;
}
/*标题*/
.title{
    text-align: center;
    font-size:30px;
    font-family:Source Han Sans CN;
    font-weight:500;
    color:rgba(37,37,37,1);   
}
.title>.titleImgs{
    width:40px;
    margin:0 auto;
    overflow: hidden;
    height:40px;

}
.title>.titleImgs> img:first-child{
    animation:myMove 2s infinite;
}
@keyframes myMove{
    0% {margin-left:0px;}
    50% {margin-left:-4px;}
    100% {margin-left:-8px;}
    /* 100% {margin-left:0px;} */
}


.title_firstText{
    position:relative;
    height:40px;
}
.title_firstText>p{
    position:absolute;
    top:0;
    left:0;
    width:580px;
    height:0px;
    border:2px solid rgba(112,112,112,1);
    right:0;
    bottom:0;
    margin: auto;
    z-index: -555;
}
.title_firstText>span{
    background:rgba(255,255,255,1);
    padding:0 5px;
}
.title>p:nth-child(3){
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(218,218,218,1);
    margin-top:6px;
}